<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if meta_description is defined  %}
    <meta name="description" content="{{ meta_description }}">
    {% endif %}
    <meta name="author" content="Chris Hodgson">
    {% if meta_title is defined %}
    <title>{{ meta_title }}</title>
    {% endif %}
    {#<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700" rel="stylesheet">#}
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    {#<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    <!-- style CSS -->
    {#<link href="css/style.css" rel="stylesheet">#}
</head>

<body >
    {% block body %}{% endblock %}
</body>
</html>
